<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Expression tests</title>
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
	<link rel="stylesheet" href="style.css" />

	<script src="https://get.mavo.io/mavo.js"></script>
	<script src="mavotest.js"></script>
</head>
<body>

<h1>mv-if tests</h1>

<section mv-app id="mvIf">
	<h1>mv-if</h1>

	<table class="reftest">
		<tr>
			<td>A<span mv-if="false">B</span>C</td>
			<td>AC</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B</span>C</td>
			<td>ABC</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B<span mv-if="true">C</span></span>D</td>
			<td>ABCD</td>
		</tr>
		<tr>
			<td>A<span mv-if="true">B<span mv-if="false">C</span></span>D</td>
			<td>ABD</td>
		</tr>
		<tr title="Nested mv-if false > true">
			<td>A<span mv-if="false">B<span mv-if="true">C</span></span>D</td>
			<td>AD</td>
		</tr>
		<tr title="Property (prop1) in false mv-if">
			<td>A<span mv-if="false"><span property="prop1">C</span></span>[prop1]</td>
			<td>A</td>
		</tr>
		<tr title="false > true > prop2">
			<td>A<span mv-if="false">B<span mv-if="true"><span property="prop2">C</span></span></span>[prop2]</td>
			<td>A</td>
		</t>
		<tr title="Property with same name (prop3) across multiple mv-ifs, one false, one true">
			<td>
				<span mv-if="false">
					<span property="prop3">A</span>
				</span>
				<span mv-if="true">
					<span property="prop3">B</span>
				</span>
				[prop3]
			</td>
			<td>B B</td>
		</tr>
		<!-- <tr title="Expression inside hidden mv-if should be able to make it visible (currently failing)">
			<td>
				<span mv-if="prop4">
					A
					<span property="prop4">[months(prop5)]</span>
				</span>
				<meta property="prop5" content="[18992567]" />
			</td>
			<td>
				A 7
			</td>
		</tr> -->
	</table>
</section>

<section>
	<h1>mv-if on Collection</h1>

	<p>Currently failing, see <a href="https://github.com/mavoweb/mavo/issues/332">#332</a></p>

	<table class="reftest" style="height: 10em; /* Prevent flickering */">
		<tr title="Filtering a collection">
			<td mv-expressions="{{ }}" mv-app="app" mv-storage='data:application/json,{
				"task": [
					{
						"taskTitle": "Buy Milk",
						"done": true
					},
					{
						"taskTitle": "Finish thesis",
						"done": false
					}
				]
			}'>
			<input type="checkbox" mv-storage="none" property="filter" checked>
			<div property="task" mv-multiple mv-if="!filter or (filter and !done)">
				<input class="toggle" type="checkbox" property="done">
				<label property="taskTitle"></label>
			</div>
			</td>
			<td>
				Finish thesis
			</td>
		</tr>
	</table>
</section>

<section mv-app id="ifteraction">
	<h1>mv-if Interactive tests</h1>

	<p>Check the checkbox. The displayed value next to it should go from "1 1 1" to "2 4 6 3 5 7"</p>

	<table class="reftest">
		<tr>
			<td>
				<input property="test" type="checkbox" data-click="wait 1s">
				<span mv-if="test" class="if1">
					<span property="nested1">2</span>

					<span mv-if="true" class="if2">
						<span property="nested2">4</span>

						<span mv-if="true" class="if3">
							<span property="nested3">6</span>
						</span>
					</span>
				</span>
				[nested1 + 1] [nested2 + 1] [nested3 + 1]
			</td>
			<td><input type="checkbox" checked> 2 4 6 3 5 7</td>
		</tr>
		<tr>
			<td>
				<span mv-if="test" class="if1">
					<span property="nested4">2</span>

					<span mv-if="test" class="if2">
						<span property="nested5">4</span>

						<span mv-if="test" class="if3">
							<span property="nested6">6</span>
						</span>
					</span>
				</span>
				[nested4 + 1] [nested5 + 1] [nested6 + 1]
			</td>
			<td>2 4 6 3 5 7</td>
		</tr>
	</table>
</section>

<script type="application/json" id="numbers">{
	"numbers": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
}</script>
<section mv-app="mvifnumbers" mv-storage="#numbers">
	<h1>mv-if on collection of primitives</h1>

	<table class="reftest">
		<tr>
			<td>
				<div property="numbers" mv-multiple mv-if="$index mod 2 = 0"></div>
			</td>
			<td>
				<div>1</div><div>3</div><div>5</div><div>7</div><div>9</div>
			</td>
		</tr>
	</table>
</section>

</body>
</html>
