::before {
	content: var(--prepend) " ";
}

::after {
	content: " " var(--append);
}

:root {
	--ciel: hsl(200, 100%, 90%);
	--dark: hsl(200, 50%, 40%);
}

$pass: hsl(80, 70%, 75%);
$fail: hsl(0, 70%, 90%);
$error: hsl(0, 70%, 70%);

body {
	margin: auto;
	tab-size: 4;

	& > h1 {
		font: 300 350%/1 Helvetica Neue, Helvetica, sans-serif;
		color: orange;

		.home, .remote {
			display: inline-block;
			vertical-align: middle;
			padding: .3em .4em;
			border-radius: .3em;
			margin-left: .5em;
			background: hsl(200, 50%, 70%);
			color: white;
			text-transform: uppercase;
			font-size: 40%;
			font-weight: bold;
			letter-spacing: -.03em;

			&:hover {
				background: var(--dark);
				text-decoration: none;
			}
		}

		.remote {
			background: hsl(200, 50%, 80%);
		}
	}
}

a {
	color: var(--dark)
}

a:not(:hover) {
	text-decoration: none;
}

h1 {
	font: bold 200%/1 Helvetica Neue, sans-serif;
	color: var(--dark);
	letter-spacing: -.04em;
}

.pass {
	--color: $pass;
	--dark-color: hsl(80, 70%, 42%);
}

.fail {
	--color: $fail;
	--dark-color: hsl(0, 70%, 50%);
}

.error {
	--color: $error;
	--dark-color: hsl(0, 70%, 40%);
}

html:not(.index) {
	body {
		max-width: 50em;
		counter-reset: fail pass interactive;
	}

	.results {
		position: fixed;
		left: 1rem;
		top: .6rem;
		font: bold 180%/1 Helvetica Neue, sans-serif;
		content: counter(interactive) " interactive";

		.count-fail::before {
			content: counter(fail) " failing";
			color: #b00;
		}

		.count-pass::before {
			content: counter(pass) " passing";
			color: hsl(80, 50%, 45%);
			font-size: 75%;
			line-height: 1.334;
		}

		.count-pass::after {
			content: counter(interactive) " interactive";
			display: block;
			color: hsl(40, 100%, 50%);
			font-size: 60%;
			line-height: 1.667;
		}
	}

	body > section {
		border: .2em solid var(--ciel);
		margin: .5em 0;
		padding: .5em;
		border-radius: .3em;

		h1 {
			margin: 0;
		}

		script[type="application/json"] {
			padding: .5em;
			background: var(--ciel);
			display: block;
			font-family: monospace;
			white-space: pre;
		}
	}
}

body > section > p,
.notice {
	width: max-content;
	max-width: 100%;
	box-sizing: border-box;
	padding: .4em 1em;
	background: var(--ciel);
	font-style: italic;
	border-radius: .2em;
}

.notice {
	margin: 1em auto;
	font-size: 125%;
}

body > section > p {
	&::before {
		content: "Instructions: ";
		font-size: 80%;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}
}

dl.tests {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;

	dt:first-of-type {
		&, & + dd, & + dd + dd {
			position: relative;
			&::before {
				position: absolute;
				bottom: 100%;
				left: .5em;
				color: rgba(0,0,0,.5);
				font: bold 80% sans-serif;
			}
		}

		&::before {
			content: "Test";
		}

		& + dd::before {
			content: "Expected";
		}

		& + dd + dd::before {
			content: "Actual";
		}
	}

	dt[title]::after {
		content: attr(title);
		display: block;
		color: rgba(0,0,0,.5);
		mix-blend-mode: multiply;
		font: italic 70% sans-serif;
	}

	.pass {
		&, & + dd {
			background: $pass;
		}

		& + dd { width: 60%; }
	}

	.fail {
		&, & + dd, & + dd + dd {
			background: $fail;
		}
	}

	.error {
		&, & + dd, & + dd + dd {
			background: $error;
		}
	}

	dt, dd {
		padding: .5em;
		margin: .1em 0;
		box-sizing: border-box;
		font: bold 100%/1.5 Consolas, Monaco, monospace;
	}

	dt {
		width: 40%;
	}

	dd {
		width: 30%;
	}
}

table.reftest {
	width: 100%;
	display: flex;
	flex-flow: column;

	tr {
		display: flex;
	}

	tbody > tr {
		border: 1px solid hsla(0, 0%, 0%, .1);

		&:not([class]) {
			--color: rgba(0,0,0,.06);
			--dark-color: rgba(0,0,0,.3);
		}
	}

	td, th {
		flex: 1;
	}

	th {
		padding: 0;
		color: gray;
	}

	td {
		padding: .4em;
	}

	td:not(:last-child) {
		border-right: 1px solid hsla(0, 0%, 0%, .1);
	}

	tr {
		margin: .4em 0;
		background: var(--color);
	}

	tr[title] {
		position: relative;

		td {
			padding-top: 1.5em;
		}

		&::before {
			content: attr(title);
			position: absolute;
			top: 0; left: 0; right: 0;
			padding: .4em;
			background: linear-gradient(to right, var(--dark-color), transparent);
			color: white;
			font: bold 75%/1 sans-serif;
			text-shadow: 0 0 1px rgba(0,0,0,.5);
		}
	}

	td:empty:nth-last-child(2)::before {
		content: "(Same as above)";
		color: rgba(0,0,0,.5);
		font-style: italic;
	}

	&[data-test="selector"], [data-test="selector"] {
		.not::before,
		.not::after {
			content: ":not(";
			font-weight: bold;
			color: red;
			mix-blend-mode: multiply;
		}

		.not::after {
			content: ")"
		}
	}
}

td[data-script] {
	position: relative;
	background-image: linear-gradient(225deg, rgba(0,0,0,.5) .6em, transparent 0);
	cursor: help;

	&:hover::after,
	&:focus::after {
		content: attr(data-script);
		position: absolute;
		z-index: 1;
		white-space: pre-wrap;
		min-width: 50ch;
		max-width: 30vw;
		padding: .8em 1.2em;
		margin: 1em;
		border-radius: .5em;
		background: hsla(20, 100%, 97%, .9);
		box-shadow: 0 1px .5em rgba(0,0,0,.5);
		font: 100%/1.5 Consolas, Monaco, monospace;
	}
}

body > section > div {
	border: 1px solid rgba(0,0,0,.15);
	background: rgba(0,0,0,.06);
	padding: .5em;
	margin: .5em;

	&[title] {
		position: relative;

		&::before {
			content: attr(title);
			display: block;
			padding: .4em;
			margin: -.66em;
			margin-bottom: .8em;
			background: linear-gradient(to right, rgba(0,0,0,.4), transparent);
			color: white;
			font: bold 75%/1 sans-serif;
			text-shadow: 0 0 1px rgba(0,0,0,.5);
		}
	}
}

.index {
	body {
		margin: 0;
		display: flex;
		height: 100vh;
	}

	body > section {
		padding: 1em;
		background: var(--ciel);

		h1 {
			font-weight: 300;
			margin: 0;
		}

		ul {
			padding: 0;
			list-style: none;
		}

		li a {
			font-weight: bold;
			font: 600 150%/1.4 Helvetica Neue, sans-serif;
		}
	}

	iframe {
		flex: 1;
		border: 0;
	}
}

.fail {
	counter-increment: fail;
}

.pass {
	counter-increment: pass;
}

.fail.interactive {
	counter-increment: fail interactive;
}

.pass.interactive {
	counter-increment: pass interactive;
}
