::before {
  content: var(--prepend) " "; }

::after {
  content: " " var(--append); }

:root {
  --ciel: #cceeff;
  --dark: #337799; }

body {
  margin: auto;
  -moz-tab-size: 4;
  tab-size: 4; }
  body > h1 {
    font: 300 350%/1 Helvetica Neue, Helvetica, sans-serif;
    color: orange; }
    body > h1 .home, body > h1 .remote {
      display: inline-block;
      vertical-align: middle;
      padding: .3em .4em;
      border-radius: .3em;
      margin-left: .5em;
      background: #8cbfd9;
      color: white;
      text-transform: uppercase;
      font-size: 40%;
      font-weight: bold;
      letter-spacing: -.03em; }
      body > h1 .home:hover, body > h1 .remote:hover {
        background: var(--dark);
        text-decoration: none; }
    body > h1 .remote {
      background: #b3d5e6; }

a {
  color: var(--dark); }

a:not(:hover) {
  text-decoration: none; }

h1 {
  font: bold 200%/1 Helvetica Neue, sans-serif;
  color: var(--dark);
  letter-spacing: -.04em; }

.pass {
  --color: #ceec93;
  --dark-color: #84b620; }

.fail {
  --color: #f7d4d4;
  --dark-color: #d92626; }

.error {
  --color: #e87d7d;
  --dark-color: #ad1f1f; }

html:not(.index) body {
  max-width: 50em;
  counter-reset: fail pass interactive; }

html:not(.index) .results {
  position: fixed;
  left: 1rem;
  top: .6rem;
  font: bold 180%/1 Helvetica Neue, sans-serif;
  content: counter(interactive) " interactive"; }
  html:not(.index) .results .count-fail::before {
    content: counter(fail) " failing";
    color: #b00; }
  html:not(.index) .results .count-pass::before {
    content: counter(pass) " passing";
    color: #86ac39;
    font-size: 75%;
    line-height: 1.334; }
  html:not(.index) .results .count-pass::after {
    content: counter(interactive) " interactive";
    display: block;
    color: #ffaa00;
    font-size: 60%;
    line-height: 1.667; }

html:not(.index) body > section {
  border: 0.2em solid var(--ciel);
  margin: .5em 0;
  padding: .5em;
  border-radius: .3em; }
  html:not(.index) body > section h1 {
    margin: 0; }
  html:not(.index) body > section script[type="application/json"] {
    padding: .5em;
    background: var(--ciel);
    display: block;
    font-family: monospace;
    white-space: pre; }

body > section > p,
.notice {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  padding: .4em 1em;
  background: var(--ciel);
  font-style: italic;
  border-radius: .2em; }

.notice {
  margin: 1em auto;
  font-size: 125%; }

body > section > p::before {
  content: "Instructions: ";
  font-size: 80%;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase; }

table.reftest {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column; }
  table.reftest tr {
    display: -ms-flexbox;
    display: flex; }
  table.reftest tbody > tr {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    table.reftest tbody > tr:not([class]) {
      --color: rgba(0, 0, 0, 0.06);
      --dark-color: rgba(0, 0, 0, 0.3); }
  table.reftest td, table.reftest th {
    -ms-flex: 1;
    flex: 1; }
  table.reftest th {
    padding: 0;
    color: gray; }
  table.reftest td {
    padding: .4em; }
  table.reftest td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  table.reftest tr {
    position: relative;
    margin: .4em 0;
    background: var(--color); }
    table.reftest tr[data-time]::after {
      content: attr(data-time);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      padding: .4em;
      color: var(--dark-color);
      font: bold 75%/1 sans-serif;
      text-shadow: 0 0 1px white; }
  table.reftest tr[title] td {
    padding-top: 1.5em; }
  table.reftest tr[title]::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .4em;
    background: linear-gradient(to right, var(--dark-color), transparent);
    color: white;
    font: bold 75%/1 sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  table.reftest[data-test="selector"] .not::before,
  table.reftest[data-test="selector"] .not::after, table.reftest [data-test="selector"] .not::before,
  table.reftest [data-test="selector"] .not::after {
    content: ":not(";
    font-weight: bold;
    color: red;
    mix-blend-mode: multiply; }
  table.reftest[data-test="selector"] .not::after, table.reftest [data-test="selector"] .not::after {
    content: ")"; }

td[data-script] {
  position: relative;
  background-image: linear-gradient(225deg, rgba(0, 0, 0, 0.5) 0.6em, transparent 0);
  cursor: help; }
  td[data-script]:hover::after, td[data-script]:focus::after {
    content: attr(data-script);
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
    min-width: 50ch;
    max-width: 30vw;
    padding: .8em 1.2em;
    margin: 1em;
    border-radius: .5em;
    background: rgba(255, 245, 240, 0.9);
    box-shadow: 0 1px 0.5em rgba(0, 0, 0, 0.5);
    font: 100%/1.5 Consolas, Monaco, monospace; }

body > section > div {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.06);
  padding: .5em;
  margin: .5em; }
  body > section > div[title] {
    position: relative; }
    body > section > div[title]::before {
      content: attr(title);
      display: block;
      padding: .4em;
      margin: -.66em;
      margin-bottom: .8em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
      color: white;
      font: bold 75%/1 sans-serif;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

.index body {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.index body > section {
  padding: 1em;
  background: var(--ciel); }
  .index body > section h1 {
    font-weight: 300;
    margin: 0; }
  .index body > section ul {
    padding: 0;
    list-style: none; }
  .index body > section li a {
    font-weight: bold;
    font: 600 150%/1.4 Helvetica Neue, sans-serif; }

.index iframe {
  -ms-flex: 1;
  flex: 1;
  border: 0; }

.fail {
  counter-increment: fail; }

.pass {
  counter-increment: pass; }

.fail.interactive {
  counter-increment: fail interactive; }

.pass.interactive {
  counter-increment: pass interactive; }

/*# sourceMappingURL=style.css.map */
